.eduvid-video {
  display: flex;
  // gap: 10px;
  background: var(--primary-bg-darken);
  margin: 10px 0px;
  border-radius: 20px;
  overflow: hidden;
  color: var(--primary-col);
  iframe {
    position: relative;
    width: 40vw;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .eduvid-video-text {
    text-transform: capitalize;
    padding: 20px;
    p {
      font-size: 0.8rem;
    }
    a {
      font-size: 0.5rem;
    }
  }
}
