.comicview-container {
  width: 100vw;
  height: 100vh;
  background: var(--primary-bg);
  color: var(--primary-col);
  h1 {
    // color: var(--primary-col);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
    span {
      font-weight: 700;
    }
  }
  img {
    width: 100%;
  }
}
