.comicview-container {
  width: 100vw;
  // height: 100vh;
  min-height: 100vh;
  padding-bottom: 10vw;
  background: var(--primary-bg);
  color: var(--primary-col);
  h1 {
    // color: var(--primary-col);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
    span {
      font-weight: 700;
    }
  }
  img {
    width: 100%;
  }

  .oks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .comicv-container {
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .coba {
      font-weight: 600;
      background: var(--primary-box);
      width: 40vw;
      padding: 20px;
      border-radius: 20px;
      border: none;
    }
  }
}
