* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-bg: #faf7e0;
  --primary-box: #ccc7a1;
  --primary-col: #442e2e;
  --primary-bg-darken: #aca991;
}
